/* @import 'github-markdown-light.css'; */
@import 'github-markdown.css';

nav ul, footer ul { list-style: none }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

header { border-bottom: 1px solid hsla(210,18%,87%,1); font-size: 1.5em; }
footer { border-top: 1px solid hsla(210,18%,87%,1); font-size: .8em; }

div.postdisclaimer { border-top: 1px solid hsla(210,18%,87%,1);}

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* Recipes */
ul.recipes { margin: 20px auto 40px; font-size: 1.5em; }
ul.recipes li { list-style: none; }

/* Code */
ul.repo{
  list-style-type: none; 
}

ul.repo div.lang    
{  height: 100px; vertical-align: middle; overflow: hidden; 
   float: left; min-width: 75px; }
ul.repo div.title 
{  height:  30px; vertical-align: middle; overflow: hidden; }
ul.repo div.desc  
{  height:  70px; vertical-align: middle; overflow: hidden; }

