<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Blog</a></li>
<li><a href="/about">About</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:p@lemonade.at">email</a></li>
   <li><a href="https://github.com/pocketbroadcast">github.com/pocketbroadcast</a></li>
   <li><a href="http://stackoverflow.com/users/5346799/pocketbroadcast">stackoverflow</a></li>
   </ul>
  </footer>
  </body>

</html>
