---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div>

<div class="postdisclaimer">
This post is by no means complete nor guaranteed to be totally correct. If you think something is missing, should be explained in more detail or has to be reformulated feel free to contact me, open an <a href="https://github.com/pocketbroadcast/pocketbroadcast.github.io/issues">issue</a> or send me a <a href="https://github.com/pocketbroadcast/pocketbroadcast.github.io/pulls">pull request</a>. The sources of the post can be found <a href="https://github.com/pocketbroadcast/pocketbroadcast.github.io/blob/master/{{ page.path }}">here</a>.
</div>

<div id="disqus_thread"></div>
<script>

/**
 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
/*
var disqus_config = function () {
    this.page.url = pocketbroadcast.github.io{{ page.url }};  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = {{ page.id }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//pocketbroadcast-github-io.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                    
